* {
  margin: 0;
  border: 0;
}

.app {
  width: 1000px;
  margin: 0 auto;
}

.containerApp {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.containerDosCards {
  display: flex;
  flex-wrap: wrap;

}